@Master['Master.html']

@Section['Header']
<style type="text/css">
    .receipts {
        margin-top: 1em;
    }
</style>
@EndSection

@Section['Content']

<h1>Invoicing</h1>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span6">
            <h2>Prepare Invoices</h2>    
            <fieldset>
                <label>For whom?</label>
                <select id="prepareFamilyId">
                    <option value="0">All Families</option>
                    @Each.Model.Families
                    <option value="@Current.Id">@Current.FamilyName</option>
                    @EndEach
                </select>
                <label>Month</label>
                <select id="prepareMonth">
                    @Each.Model.Months
                    <option value="@Current.Value">@Current.Display</option>
                    @EndEach
                </select>
                <div>
                    <button id="prepare" class="btn btn-primary"><i class="icon-file icon-white"></i> Prepare</button>
                </div>

            </fieldset>
            
            <div id="prepareAlerts" class="receipts">
            </div>

        </div>

        <div class="span6">
            <h2>Send Invoices</h2>    
            <fieldset>
                <label>To?</label>
                <select id="sendFamilyId">
                    <option value="0">All Families</option>
                    @Each.Model.Families
                    <option value="@Current.Id">@Current.FamilyName</option>
                    @EndEach
                </select>
                <label>Month</label>
                <select id="sendMonth">
                    @Each.Model.Months
                    <option value="@Current.Value">@Current.Display</option>
                    @EndEach
                </select>
                <div>
                    <div class="btn-group">
                        <a class="btn btn-danger dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class=" icon-envelope icon-white"></i> Send
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a id="sendNow" href="#">Yes, send them now</a></li>
                        </ul>
                    </div>                        
                </div>
            </fieldset>

            <div id="sendAlerts" class="receipts">
            </div>
            
        </div>
        
    </div>

    <div class="row-fluid">
        <div class="well">
            Invoices are stored at <a href="@Model.InvoiceUrl">@Model.InvoiceLocation</a>
        </div>
    </div>
</div>

@EndSection

@Section['Scripts']
<script type="text/javascript">

    function createAlert(text, type) {
        return "<div class='alert alert-" + type + "'><button type='button' class='close' data-dismiss='alert'>&times;</button>" + text + "</div>";
    }

    $("#prepareMonth").val("@Model.NextMonth");
    $("#sendMonth").val("@Model.NextMonth");

    $("#prepare").click(function () {
        $.ajax({
            url: "/invoicing/prepare",
            type: "POST",
            data: {
                familyId: $("#prepareFamilyId").val(),
                month: $("#prepareMonth").val()
            },
            success: function(res) {
                $("#prepareAlerts").append(
                    createAlert("Prepared invoices.", "success"));
            },
            error: function() {
                $("#prepareAlerts").append(
                    createAlert("Could not prepare invoices.", "error"));
            }
        });

        $("#prepareAlerts").append(
            createAlert("Prepared invoices.", "success"));
    });

    $("#sendNow").click(function () {
        $("#sendAlerts").append(
            createAlert("Sent messages.", "success"));
    });

</script>
@EndSection
