@Master['Master.html']

@Section['Header']
<style type="text/css">
    .receipts {
        margin-top: 1em;
    }
    #passwordConfirmation {
        display: none;
        margin-top: 1em;
    }
</style>
@EndSection

@Section['Content']

<h1>Invoicing</h1>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="well well-small">
            Invoices are stored at <a href="@Model.InvoiceUrl">@Model.InvoiceLocation</a>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <h2>Prepare Invoices</h2>    
            <fieldset>
                <label>For whom?</label>
                <select id="prepareFamilyId">
                    <option value="0">All Families</option>
                    @Each.Model.Families
                    <option value="@Current.Id">@Current.FamilyName</option>
                    @EndEach
                </select>
                <label>Month</label>
                <select id="prepareMonth">
                    @Each.Model.Months
                    <option value="@Current.Value">@Current.Display</option>
                    @EndEach
                </select>
                <div>
                    <button id="prepare" class="btn btn-primary"><i class="icon-file icon-white"></i> Prepare</button>
                </div>

            </fieldset>
            
            <div id="prepareAlerts" class="receipts">
            </div>

        </div>

        <div class="span6">
            <h2>Send Invoices</h2>    
            <fieldset>
                <label>To?</label>
                <select id="sendFamilyId">
                    <option value="0">All Families</option>
                    @Each.Model.Families
                    <option value="@Current.Id">@Current.FamilyName</option>
                    @EndEach
                </select>
                <label>Month</label>
                <select id="sendMonth">
                    @Each.Model.Months
                    <option value="@Current.Value">@Current.Display</option>
                    @EndEach
                </select>
                <div>
                    <button id="send" class="btn btn-primary"><i class="icon-envelope icon-white"></i> Send</button>
                </div>
                <div id="passwordConfirmation">
                    <label>Email Password</label>
                    <input id="password" class="span6" type="password"/>
                    <div>
                        <button id="confirmSend" class="btn btn-danger"><i class="icon-ok icon-white"></i> Confirm</button>
                    </div>
                </div>
                    

            </fieldset>

            <div id="sendAlerts" class="receipts">
            </div>
            
        </div>
        
    </div>

</div>

@EndSection

@Section['Scripts']
<script type="text/javascript">

    function createAlert(text, type) {
        return "<div class='alert alert-" + type + "'><button type='button' class='close' data-dismiss='alert'>&times;</button>" + text + "</div>";
    }

    $("#prepareMonth").val("@Model.NextMonth");
    $("#sendMonth").val("@Model.NextMonth");

    $("#prepare").click(function () {
        $.ajax({
            url: "/invoicing/prepare",
            type: "POST",
            data: {
                familyId: $("#prepareFamilyId").val(),
                month: $("#prepareMonth").val()
            },
            success: function(res) {
                $("#prepareAlerts").append(
                    createAlert("Prepared invoices.", "success"));
            },
            error: function() {
                $("#prepareAlerts").append(
                    createAlert("Could not prepare invoices.", "error"));
            }
        });
    });

    $("#send").click(function () {
        $("#passwordConfirmation").show();
    });

    $("#confirmSend").click(function () {
        $.ajax({
            url: "/invoicing/send",
            type: "POST",
            data: {
                familyId: $("#sendFamilyId").val(),
                month: $("#sendMonth").val(),
                password: $("#password").val()
            },
            success: function (res) {
                $("#sendAlerts").append(
                    createAlert("Emails sent.", "success"));
            },
            error: function () {
                $("#sendAlerts").append(
                    createAlert("Could not send email.", "error"));
            }
        });

        $("#passwordConfirmation").fadeOut();
    });

</script>
@EndSection
