@Master['Master.html']

@Section['Content']

<h1>Invoicing</h1>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span6">
            <h2>Prepare Invoices</h2>    
            <form>
                <fieldset>
                    <label>For whom?</label>
                    <select>
                        <option value="0">All Families</option>
                    </select>
                    <label>Month</label>
                    <select>
                        <option value="2013-09">September 2013</option>
                        <option value="2013-10">October 2013</option>
                        <option value="2013-11">November 2013</option>
                        <option value="2013-12">December 2013</option>
                        <option value="2014-01">January 2014</option>
                    </select>

                </fieldset>
            </form>
        </div>

        <div class="span6">
            <h2>Send Invoices</h2>    
            
        </div>
        
    </div>
</div>

@EndSection