<html>
    <head>
        <style>
            #header {
                width: 100%;
            }
            #header td {
                vertical-align: top;
            }
            #header p {
                margin: 0;
            }
            #taxId {
                padding-top: 1em;
                padding-bottom: 1em;
            }
            #emails {
                padding-top: 1em;
            }
            #invoiceInfo {
                text-align: right;
            }
        </style>
    </head>
    <body>
        <h1>Invoice</h1>
        <table id="header">
            <tr>
                <td>
                    <div id="preschoolAddress">
                        <p>Southwest Parent Child Collective</p>
                        <p>6053 SW 55th Drive</p>
                        <p>Portland, OR 97221</p>
                    </div>
                    <p id="taxId">Tax ID: 93-0748219</p>
                    <div id="billedTo">
                        <p>Billed to:</p>
                        <p>The Cochran Family</p>
                        <p>9016 SW 14th Ave</p>
                        <p>Portland, OR 97219</p>
                    </div>
                    <div id="emails">
                        <p>vcochran77@gmail.com</p>
                    </div>
                </td>
                <td id="invoiceInfo">
                    <p>June 1, 2013</p>
                    <p>Invoice# 2013-09</p>
                </td>
            </tr>
        </table>
        
        <table>
            <tr>
                <td ></td>
            </tr>
        </table>
    </body>
</html>
