@Master['Master.html']

@Section['Content']

<h1>Tools</h1>
<form class="well" action="/tools/new" method="post">
    <fieldset>
        <legend>New School Year</legend>
        <label>Name</label>
        <input type="text" name="Name" placeholder="i.e. FY2014" />
        <span class="help-block">Start a new, empty school year. The name will be used to save data to your computer.</span>
        <button type="submit" class="btn btn-primary"><i class="icon-file icon-white"></i> Start New School Year</button>
    </fieldset>
</form>

<form class="well" action="/tools/email" method="POST">
    <fieldset>
        <legend>Email Setup</legend>
        
        <label>Server</label>
        <input type="text" name="Server" placeholder="smtp.gmail.com" value="@Model.EmailServer" />
        <label>Port</label>
        <input type="text" name="Port" placeholder="587" value="@Model.EmailPort" />
        <label class="checkbox">
            <input id="useSSL" name="UseSSL" type="checkbox" > Use secure connection
        </label>
        <label>From</label>
        <input type="text" name="From" placeholder="someone@gmail.com" value="@Model.EmailFrom" />
        
        <div>
            <button type="submit" class="btn"><i class="icon-ok-sign"></i> Save</button>
        </div>
    </fieldset>
    
</form>

@EndSection

@Section['Scripts']
<script type="text/javascript">
    
    var True = true;
    var False = false;
    
    $('#useSSL').prop('checked', @Model.EmailSSL);
</script>
@EndSection